# Data Wrangling<a id='Data_Wrangling'></a>

### 1 Table of Contents<a id='Contents'></a>
* [Data Wrangling](#Data_Wrangling)
  * [1 Contents](#Contents)
  * [2 Introduction](#2_Introduction)
      * [2.1 Problem](#2.1_Problem)
      * [2.2 Data Sources](#2.2_Data_Sources)
  * [3 Imports](#3_Imports)
  * [4 Load Data](#4_Load_Data)
      * [4.1 Highway Collisions](#4.1_Highway_Collisions)
      * [4.2 Non-Highway Collisions](#4.2_Non-Highway_Collisions)
      * [4.3 Traffic Volume](#4.3_Traffic_Volume)
      * [4.4 Weather](#4.4_Weather)
  * [5 Traffic Collisions](#5_Traffic_Collisions)
      * [5.1 Highway Collisions](#5.1_Highway_Collisions)
      * [5.2 Non-Highway Collisions](#5.2_Non-Highway_Collisions)
  * [6 Weather](#6_Weather)
  * [7 Merge](#7_Merge)
      * [7.1 Combining Collision Datasets](#7.1_Combining_Collision_Datasets)
      * [7.2 Merging Collision and Weather](#7.2_Merging_Collision_and_Weather)
  * [8 Traffic Volume](#8_Traffic_Volume) 
  * [9 First Look](#9_First_Look)
  * [10 Google Maps API](#10_Google_Maps_API)
  * [11 OpenWeather API](#11_OpenWeather_API)
  * [12 Save Data](#12_Save_Data)
  * [13 Conclusion](#13_Conclusion)

### 2 Introduction<a id='2_Introduction'>

#### 2.1 Problem<a id='2.1_Problem'>

Millions of people are on the road everyday. In fact, there are more than seven million cars registered in LA county alone. With that many cars on the road, and pedestrians and cyclists, it can be quite dangerous to commute to everyday activities like work and grocery shopping, However, some routes are more dangerous than others. 

I will create a model to return the likelihood of an accident occurring on the different routes returned by the Google Maps API when prompted by a user, such that  the user can accurately choose the safest journey to take more than 75 percent of the time. For this project, I will be solely focusing on the city of Los Angeles.

#### 2.2 Data Sources<a id='2.2_Data_Sources'>

The data that will be used is listed below:
- SWITRS dataset on traffic collisions in California from 2001 to 2022. Sqlite files include info on collisions, parties involved, injuries, and a few weather factors. This is the dataset that will be used for modeling. The set contains over 300,000 collisions in the city of Los Angeles from 2007 to 2021.
- LAPD data on non-highway traffic collisions from 2010 to present.
- LADOT data on traffic volume for a number of streets in LA county.
- OpenWeather API provides weather data used for training the model, as this set has more useful weather factors, mainly visibility, than the California traffic collision dataset.
- Google Maps API to provide routes on demand	to users, who will then be given the likelihood that each route will result in an accident. API

### 3 Imports<a id='3_Imports'>

In [1]:
import warnings
warnings.simplefilter('ignore')
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
from library.sb_utils import save_file
import requests
import gmaps
import googlemaps
import os
import csv
%matplotlib inline

### 4 Load Data<a id='4_Load_Data'>

In [3]:
LA_highway_collisions = pd.read_csv('../Raw Data/Traffic.csv')
LA_nonhighway_collisions = pd.read_csv('../Raw Data/Traffic_Collisions_LAPD.csv')
LA_traffic_counts = pd.read_csv('../Raw Data/Traffic_Counts.csv')
LA_weather = pd.read_csv('../Raw Data/Los_Angeles_Weather.csv')
openWeather_api_key = pd.read_json('../credentials.json', typ='series')['openWeather_api_key']
maps_api_key = pd.read_json('../credentials.json', typ='series')['maps_api_key']

#### 4.1 Highway Collisions<a id='4.1_Highway_Collisions'>

In [4]:
LA_highway_collisions.head()

,id,primary_road,secondary_road,intersection,side_of_highway,severity,type,pedestrian,bicycle,motorcycle,truck,same_day_crashes,same_road_crashes,latitude,longitude,datetime
0,81488182,CENTINELA AV,BEACH AV,0.0,NaN,pain,broadside,0,0,0,0,3,229,33.97074,-118.34786,2021-06-01 13:58:00
1,81488183,MANCHESTER BLVD,11TH AV,1.0,NaN,pain,broadside,0,0,0,0,3,185,33.95995,-118.32868,2021-06-01 16:15:00
2,91488003,I-710 NORTHBOUND(LONG BEACH FREEWAY),IMPERIAL HWY,0.0,NaN,property damage only,rear end,0,0,0,0,3,1,33.92770,-118.17820,2021-06-01 16:20:00
3,81487205,LA BREA AV,FLORENCE AV,1.0,NaN,property damage only,hit object,0,0,0,0,3,424,33.96550,-118.35330,2021-05-30 06:45:00
4,91487342,I-605 (S/B),WASHINGTON BLVD,0.0,NaN,severe injury,hit object,0,0,0,0,3,131,33.97228,-118.08097,2021-05-30 22:35:00

The collisions dataset contains information on each wreck, including: severity, road, and time. The dataset was queried from the SWITRS database using SQLiteStudio.

In [5]:
LA_highway_collisions.shape

(319906, 16)

#### 4.2 Non-Highway Collisions<a id='4.2_Non-Highway_Collisions'>

In [6]:
LA_nonhighway_collisions.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Address,Cross Street,Location
0,190319651,08/24/2019,08/24/2019,450,3,Southwest,356,997,TRAFFIC COLLISION,3036 3004 3026 3101 4003,22.0,M,H,101.0,STREET,JEFFERSON BL,NORMANDIE AV,"(34.0255, -118.3002)"
1,190319680,08/30/2019,08/30/2019,2320,3,Southwest,355,997,TRAFFIC COLLISION,3037 3006 3028 3030 3039 3101 4003,30.0,F,H,101.0,STREET,JEFFERSON BL,W WESTERN,"(34.0256, -118.3089)"
2,190413769,08/25/2019,08/25/2019,545,4,Hollenbeck,422,997,TRAFFIC COLLISION,3101 3401 3701 3006 3030,NaN,M,X,101.0,STREET,N BROADWAY,W EASTLAKE AV,"(34.0738, -118.2078)"
3,190127578,11/20/2019,11/20/2019,350,1,Central,128,997,TRAFFIC COLLISION,0605 3101 3401 3701 3011 3034,21.0,M,H,101.0,STREET,1ST,CENTRAL,"(34.0492, -118.2391)"
4,190319695,08/30/2019,08/30/2019,2100,3,Southwest,374,997,TRAFFIC COLLISION,0605 4025 3037 3004 3025 3101,49.0,M,B,101.0,STREET,MARTIN LUTHER KING JR,ARLINGTON AV,"(34.0108, -118.3182)"

In [7]:
LA_nonhighway_collisions.shape

(587194, 18)

#### 4.3 Traffic Volume<a id='4.3_Traffic_Volume'>

Below is the data for traffic flow. This data is much smaller in volume but the data included will be useful for inferring other values.

In [8]:
LA_traffic_counts.head()

,Primary Street,Dir,Cross Street,Type,Dist,Count Date,Day,W/B,E/B,N/B,S/B,Total
0,1 st ST,AT,MC CADDEN PL,AUT,TUE,February 05 2013,TUE,364.0,763.0,0.0,0.0,1127.0
1,1 st ST,AT,ALAMEDA ST,AUTO,CR,January 16 2014,THU,6433.0,11669.0,0.0,0.0,18102.0
2,1 st ST,AT,MAIN ST,MIO,CR,March 27 2013,WED,9221.0,9811.0,0.0,0.0,19032.0
3,1 st ST,AT,SPRING ST,MIO,CR,March 19 2013,TUE,9365.0,9884.0,0.0,0.0,19249.0
4,1 st ST,AT,MAIN ST,MAN,CR,November 08 2011,TUE,11400.0,12497.0,NaN,NaN,23897.0

In [9]:
LA_traffic_counts.shape

(5953, 12)

#### 4.4 Weather<a id='4.4_Weather'>

In [10]:
LA_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1167609600,2007-01-01 00:00:00 +0000 UTC,-28800,Los Angeles,34.052234,-118.243685,15.88,10000.0,8.38,15.12,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d
1,1167613200,2007-01-01 01:00:00 +0000 UTC,-28800,Los Angeles,34.052234,-118.243685,14.79,10000.0,8.51,14.05,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
2,1167616800,2007-01-01 02:00:00 +0000 UTC,-28800,Los Angeles,34.052234,-118.243685,14.01,10000.0,9.45,13.40,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
3,1167620400,2007-01-01 03:00:00 +0000 UTC,-28800,Los Angeles,34.052234,-118.243685,12.08,9656.0,6.99,11.20,...,NaN,NaN,NaN,NaN,NaN,100,721,Haze,haze,50n
4,1167624000,2007-01-01 04:00:00 +0000 UTC,-28800,Los Angeles,34.052234,-118.243685,11.55,8047.0,7.66,10.77,...,NaN,NaN,NaN,NaN,NaN,75,721,Haze,haze,50n

The weather dataset contains information on each wreck, including: temp, visibility, and wind. This dataset will be joined to the collisions dataset on the time column later in this notebook. But first, cleaning the datasets.

In [11]:
LA_weather.shape

(132731, 28)

### 5 Traffic Collisions<a id='5_Traffic_Collisions'>

#### 5.1 Highway Collisions<a id='5.1_Highway_Collisions'>

In [12]:
LA_highway_collisions.dtypes

id                     int64
primary_road          object
secondary_road        object
intersection         float64
side_of_highway       object
severity              object
type                  object
pedestrian             int64
bicycle                int64
motorcycle             int64
truck                  int64
same_day_crashes       int64
same_road_crashes      int64
latitude             float64
longitude            float64
datetime              object
dtype: object

The object dtypes are string objects. These will be turned into dummy columns in a future notebook. For now, focusing on missing values.

In [13]:
LA_highway_collisions.isna().sum()

id                        0
primary_road              0
secondary_road            2
intersection            266
side_of_highway      216113
severity                  0
type                    805
pedestrian                0
bicycle                   0
motorcycle                0
truck                     0
same_day_crashes          0
same_road_crashes         0
latitude                  0
longitude                 0
datetime               1817
dtype: int64

There are quite a lot of missing values in a number of columns. Datetime is important, since that is the column that  will be used to join the two datasets on. Imputing values based on nearby values is an option, however it is only about 0.5% of the rows that are missing values in that column, so they will be dropped instead to avoid incorrect imputation.

In [14]:
LA_highway_collisions.dropna(subset = ['datetime'], inplace = True)

In [15]:
print('side_of_highway:', LA_highway_collisions['side_of_highway'].unique())
print('type:', LA_highway_collisions['type'].unique())
print('intersection:', LA_highway_collisions['intersection'].unique())

side_of_highway: [nan 'eastbound' 'southbound' 'northbound' 'westbound']
type: ['broadside' 'rear end' 'hit object' 'sideswipe' 'head-on' 'other'
 'pedestrian' 'overturned' nan]
intersection: [ 0.  1. nan]

The above columns are a mixture of string objects and a float. The string objects will be imputed with "Not Available" and the float will be imputed with zero. It is assumed that missing values for intersection are instances that did not involve an intersection

In [16]:
LA_highway_collisions.fillna({'side_of_highway':'Not Available', 'type':'Not Available',
                              'intersection':0}, inplace = True)

In [17]:
LA_highway_collisions.isna().sum()

id                   0
primary_road         0
secondary_road       2
intersection         0
side_of_highway      0
severity             0
type                 0
pedestrian           0
bicycle              0
motorcycle           0
truck                0
same_day_crashes     0
same_road_crashes    0
latitude             0
longitude            0
datetime             0
dtype: int64

In [18]:
LA_highway_collisions.dropna(inplace = True)

That's all of the null values handled in this dataset. The id column is no longer needed so that can be dropped.

In [19]:
LA_highway_collisions.drop(columns = ['id'], inplace = True)

In [20]:
LA_highway_collisions.nunique()

primary_road          26565
secondary_road        15307
intersection              2
side_of_highway           5
severity                  5
type                      9
pedestrian                2
bicycle                   2
motorcycle                2
truck                     2
same_day_crashes        145
same_road_crashes       319
latitude              24841
longitude             43383
datetime             283208
dtype: int64

Now, the non-highway collisions

#### 5.2 Non-Highway Collisions<a id='5.2_Non-Highway_Collisions'>

In [21]:
LA_nonhighway_collisions.dtypes

DR Number                   int64
Date Reported              object
Date Occurred              object
Time Occurred               int64
Area ID                     int64
Area Name                  object
Reporting District          int64
Crime Code                  int64
Crime Code Description     object
MO Codes                   object
Victim Age                float64
Victim Sex                 object
Victim Descent             object
Premise Code              float64
Premise Description        object
Address                    object
Cross Street               object
Location                   object
dtype: object

There are many unneeded columns in this dataset. Mostly, columns pertaining to the victim's age or sex or pertaining to the area, other than Location, are not needed.

In [22]:
LA_nonhighway_collisions.drop(columns = ['DR Number', 'Date Reported', 'Area ID', 'Area Name', 
                                         'Reporting District', 'Crime Code', 'Crime Code Description', 'MO Codes',
                                         'Victim Sex', 'Victim Age', 'Victim Descent', 'Premise Code',
                                         'Premise Description'], inplace = True)

In [23]:
LA_nonhighway_collisions.head()

,Date Occurred,Time Occurred,Address,Cross Street,Location
0,08/24/2019,450,JEFFERSON BL,NORMANDIE AV,"(34.0255, -118.3002)"
1,08/30/2019,2320,JEFFERSON BL,W WESTERN,"(34.0256, -118.3089)"
2,08/25/2019,545,N BROADWAY,W EASTLAKE AV,"(34.0738, -118.2078)"
3,11/20/2019,350,1ST,CENTRAL,"(34.0492, -118.2391)"
4,08/30/2019,2100,MARTIN LUTHER KING JR,ARLINGTON AV,"(34.0108, -118.3182)"

In [24]:
print(type(LA_nonhighway_collisions['Location'][0]))

<class 'str'>

The Location column has the latitude and logitude as a string. This string can be broken up by using ', ' as the seperator. The type will also be changed to float64 to match the highway collisions dataset

In [25]:
LA_nonhighway_collisions['latitude'] = LA_nonhighway_collisions['Location'].agg(
    lambda x: x.split(', ')[0].replace('(', '')).astype('float64')
LA_nonhighway_collisions['longitude'] = LA_nonhighway_collisions['Location'].agg(
    lambda x: x.split(', ')[1].replace(')', '')).astype('float64')
LA_nonhighway_collisions.drop(columns = ['Location'], inplace = True)

In [26]:
LA_nonhighway_collisions.head()

,Date Occurred,Time Occurred,Address,Cross Street,latitude,longitude
0,08/24/2019,450,JEFFERSON BL,NORMANDIE AV,34.0255,-118.3002
1,08/30/2019,2320,JEFFERSON BL,W WESTERN,34.0256,-118.3089
2,08/25/2019,545,N BROADWAY,W EASTLAKE AV,34.0738,-118.2078
3,11/20/2019,350,1ST,CENTRAL,34.0492,-118.2391
4,08/30/2019,2100,MARTIN LUTHER KING JR,ARLINGTON AV,34.0108,-118.3182

In [27]:
LA_nonhighway_collisions.rename(columns = {'Address':'primary_road', 'Cross Street':'secondary_road'}, inplace = True)

In [28]:
LA_nonhighway_collisions.dtypes

Date Occurred      object
Time Occurred       int64
primary_road       object
secondary_road     object
latitude          float64
longitude         float64
dtype: object

Are there any null values?

In [29]:
LA_nonhighway_collisions.isna().sum()

Date Occurred         0
Time Occurred         0
primary_road          0
secondary_road    27892
latitude              0
longitude             0
dtype: int64

In [30]:
LA_nonhighway_collisions.dropna(inplace = True)

Columns are added to match the highway collisions dataset. The columns are loaded with either 0 or 'Not Available' depending on column type.

In [31]:
LA_nonhighway_collisions['intersection'] = 0
LA_nonhighway_collisions['side_of_highway'] = 'Not Available'
LA_nonhighway_collisions['severity'] = 'Not Available'
LA_nonhighway_collisions['type'] = 'Not Available'
LA_nonhighway_collisions['pedestrian'] = 0
LA_nonhighway_collisions['bicycle'] = 0
LA_nonhighway_collisions['motorcycle'] = 0
LA_nonhighway_collisions['truck'] = 0
LA_nonhighway_collisions['same_day_crashes'] = 0
LA_nonhighway_collisions['same_road_crashes'] = 0

### 6 Weather<a id='6_Weather'>

In [32]:
LA_weather.dtypes

dt                       int64
dt_iso                  object
timezone                 int64
city_name               object
lat                    float64
lon                    float64
temp                   float64
visibility             float64
dew_point              float64
feels_like             float64
temp_min               float64
temp_max               float64
pressure                 int64
sea_level              float64
grnd_level             float64
humidity                 int64
wind_speed             float64
wind_deg                 int64
wind_gust              float64
rain_1h                float64
rain_3h                float64
snow_1h                float64
snow_3h                float64
clouds_all               int64
weather_id               int64
weather_main            object
weather_description     object
weather_icon            object
dtype: object

Again, this dataset, like the previous, is a mixture of numerics and strings.

In [33]:
LA_weather.isna().sum()

dt                          0
dt_iso                      0
timezone                    0
city_name                   0
lat                         0
lon                         0
temp                        0
visibility               1133
dew_point                   0
feels_like                  0
temp_min                    0
temp_max                    0
pressure                    0
sea_level              132731
grnd_level             132731
humidity                    0
wind_speed                  0
wind_deg                    0
wind_gust              112518
rain_1h                126144
rain_3h                132314
snow_1h                132731
snow_3h                132731
clouds_all                  0
weather_id                  0
weather_main                0
weather_description         0
weather_icon                0
dtype: int64

In [34]:
LA_weather.drop(columns = ['dt_iso', 'timezone', 'city_name', 'lat', 'lon', 'sea_level', 'grnd_level', 'feels_like', \
                           'weather_id', 'weather_main', 'weather_description', 'weather_icon'], inplace = True)

The columns dropped above are not pertinent to our this case or for the joining of the two datasets.

In [35]:
LA_weather['wind_gust'].value_counts()

0.00     8578
0.45     1257
1.34      853
1.79      823
2.24      755
         ...
12.34       1
14.39       1
17.00       1
16.00       1
12.07       1
Name: wind_gust, Length: 84, dtype: int64

In [36]:
LA_weather['rain_1h'].value_counts()

0.30    699
0.50    413
0.20    300
0.25    242
0.11    197
       ...
2.44      1
3.32      1
2.31      1
1.79      1
2.95      1
Name: rain_1h, Length: 391, dtype: int64

In [37]:
LA_weather['rain_3h'].value_counts()

0.30     87
0.50     41
0.80     32
1.30     18
1.00     18
         ..
18.80     1
8.60      1
16.80     1
28.40     1
8.12      1
Name: rain_3h, Length: 64, dtype: int64

Looking at the value counts above, it is reasonable to impute the value of zero for null values for those columns.

In [38]:
LA_weather[LA_weather['rain_1h'] == 0].shape

(0, 16)

Indeed, there are no zero values in the rain_1h column, giving further confirmation that the missing values are meant to be zero.

The columns snow_1h and snow_3h are missing all of the values. This isn't that surprising; it is L.A. So, these columns will be dropped, as well.

In [39]:
LA_weather.drop(columns = ['snow_1h', 'snow_3h'], inplace = True)

The missing values in the visibility column will be dropped. Like the datetime column in the collisions dataset, the missing values only make up about 1% of the total number of rows, and imputing could lead to erroneous results

In [40]:
LA_weather.dropna(subset = ['visibility'], inplace = True)
LA_weather.fillna(value = 0, inplace = True)

In [41]:
LA_weather.isna().sum()

dt            0
temp          0
visibility    0
dew_point     0
temp_min      0
temp_max      0
pressure      0
humidity      0
wind_speed    0
wind_deg      0
wind_gust     0
rain_1h       0
rain_3h       0
clouds_all    0
dtype: int64

Again, this dataset is now cleaning of any missing values

In [42]:
LA_weather.nunique()

dt            130363
temp            3479
visibility        19
dew_point       3836
temp_min        3170
temp_max        3644
pressure          49
humidity          98
wind_speed       228
wind_deg         361
wind_gust         84
rain_1h          389
rain_3h           65
clouds_all        98
dtype: int64

### 7 Merge<a id='7_Merge'>

#### 7.1 Combining Collision Datasets<a id='7.1_Combining_Collision_Datasets'>

To start, the 'Date Occurred' and 'Time Occurred' columns of the non-highway collisions dataset need to be combined into a single column. The Time Occured column is an int representation of a 24-hour clock. This column needs to be changed into a workable format

In [43]:
LA_nonhighway_collisions['Time Occurred'] = LA_nonhighway_collisions['Time Occurred'].astype('str').agg(
    lambda x: x[:2] + ':' + x[2:] + ':00' if len(x) > 3 else x[:1] + ':' + x[1:] + ':00' if
    len(x) > 2 else '00' + ':' + x + ':00')
LA_nonhighway_collisions['Date Occurred'] = LA_nonhighway_collisions['Date Occurred'].agg(
    lambda x: x.replace('/','-'))

In [44]:
LA_nonhighway_collisions['Time Occurred'].head()

0     4:50:00
1    23:20:00
2     5:45:00
3     3:50:00
4    21:00:00
Name: Time Occurred, dtype: object

In [45]:
LA_nonhighway_collisions['datetime'] = LA_nonhighway_collisions['Date Occurred'] + ' ' + LA_nonhighway_collisions['Time Occurred']

In [46]:
LA_nonhighway_collisions.head()

,Date Occurred,Time Occurred,primary_road,secondary_road,latitude,longitude,intersection,side_of_highway,severity,type,pedestrian,bicycle,motorcycle,truck,same_day_crashes,same_road_crashes,datetime
0,08-24-2019,4:50:00,JEFFERSON BL,NORMANDIE AV,34.0255,-118.3002,0,Not Available,Not Available,Not Available,0,0,0,0,0,0,08-24-2019 4:50:00
1,08-30-2019,23:20:00,JEFFERSON BL,W WESTERN,34.0256,-118.3089,0,Not Available,Not Available,Not Available,0,0,0,0,0,0,08-30-2019 23:20:00
2,08-25-2019,5:45:00,N BROADWAY,W EASTLAKE AV,34.0738,-118.2078,0,Not Available,Not Available,Not Available,0,0,0,0,0,0,08-25-2019 5:45:00
3,11-20-2019,3:50:00,1ST,CENTRAL,34.0492,-118.2391,0,Not Available,Not Available,Not Available,0,0,0,0,0,0,11-20-2019 3:50:00
4,08-30-2019,21:00:00,MARTIN LUTHER KING JR,ARLINGTON AV,34.0108,-118.3182,0,Not Available,Not Available,Not Available,0,0,0,0,0,0,08-30-2019 21:00:00

In [47]:
LA_nonhighway_collisions.drop(columns = ['Date Occurred', 'Time Occurred'], inplace = True)
LA_nonhighway_collisions.rename(columns = {'Address':'road'}, inplace = True)

The datetime column of both dataframes will now be converted to a datetime object.

In [48]:
LA_highway_collisions['datetime'] = pd.to_datetime(LA_highway_collisions['datetime'])
LA_nonhighway_collisions['datetime'] = pd.to_datetime(LA_nonhighway_collisions['datetime'])

In [49]:
LA_highway_collisions['datetime'].min()

Timestamp('2007-11-15 08:42:00')

In [50]:
LA_nonhighway_collisions['datetime'].min()

Timestamp('2010-01-01 00:05:00')

The highway collisions contain data from an earlier date than the nonhighway collisions. It would be best to drop this data from the earlier dates, so that the danger of the highways isn't skewed more dangerous than it may or may not be. First, how much of that data would be dropped?

In [51]:
LA_highway_collisions[LA_highway_collisions['datetime'] < pd.to_datetime('2010-01-01 00:05:00')].shape

(18118, 15)

In [52]:
LA_highway_collisions.shape

(318087, 15)

Only about 5% of the data will be lost.

In [53]:
LA_highway_collisions = LA_highway_collisions[LA_highway_collisions['datetime'] > pd.to_datetime('2010-01-01 00:05:00')]

In [54]:
LA_collisions = LA_highway_collisions.append(LA_nonhighway_collisions, ignore_index = True)

In [55]:
LA_collisions.head()

,primary_road,secondary_road,intersection,side_of_highway,severity,type,pedestrian,bicycle,motorcycle,truck,same_day_crashes,same_road_crashes,latitude,longitude,datetime
0,CENTINELA AV,BEACH AV,0.0,Not Available,pain,broadside,0,0,0,0,3,229,33.97074,-118.34786,2021-06-01 13:58:00
1,MANCHESTER BLVD,11TH AV,1.0,Not Available,pain,broadside,0,0,0,0,3,185,33.95995,-118.32868,2021-06-01 16:15:00
2,I-710 NORTHBOUND(LONG BEACH FREEWAY),IMPERIAL HWY,0.0,Not Available,property damage only,rear end,0,0,0,0,3,1,33.92770,-118.17820,2021-06-01 16:20:00
3,LA BREA AV,FLORENCE AV,1.0,Not Available,property damage only,hit object,0,0,0,0,3,424,33.96550,-118.35330,2021-05-30 06:45:00
4,I-605 (S/B),WASHINGTON BLVD,0.0,Not Available,severe injury,hit object,0,0,0,0,3,131,33.97228,-118.08097,2021-05-30 22:35:00

In [56]:
LA_collisions.shape

(859271, 15)

Great! The two collision datasets are now combined into one dataframe. Now that dataframe can be merged with the weather data.

#### 7.2 Merging Collision and Weather<a id='7.2_Merging_Collision_and_Weather'>

The datasets will be merged on the datetime column. Before this can be done, the weather dataset needs a datetime column. This can be extracted form the dt column which is the time given as a UNIX timestamp.

In [57]:
LA_weather['datetime'] = pd.to_datetime(LA_weather['dt'], unit='s')

In [58]:
LA_weather['datetime'].head(10)

0   2007-01-01 00:00:00
1   2007-01-01 01:00:00
2   2007-01-01 02:00:00
3   2007-01-01 03:00:00
4   2007-01-01 04:00:00
5   2007-01-01 05:00:00
6   2007-01-01 06:00:00
7   2007-01-01 07:00:00
8   2007-01-01 08:00:00
9   2007-01-01 09:00:00
Name: datetime, dtype: datetime64[ns]

However, the datetime column is now in GMT time. pd.Timedelta allows for subtracting the necessary amount of hours, 8, to get the column into L.A. time.

In [59]:
LA_weather.loc[:,'datetime'] += pd.Timedelta(value = -8, unit = 'h')

In [60]:
LA_weather['datetime'].head(10)

0   2006-12-31 16:00:00
1   2006-12-31 17:00:00
2   2006-12-31 18:00:00
3   2006-12-31 19:00:00
4   2006-12-31 20:00:00
5   2006-12-31 21:00:00
6   2006-12-31 22:00:00
7   2006-12-31 23:00:00
8   2007-01-01 00:00:00
9   2007-01-01 01:00:00
Name: datetime, dtype: datetime64[ns]

The weather dataset's datetime column is in intervals of one hour, while the collisions dataset's datetime values can be any time. Before the merge, the collisions dataset's datetime column will be rounded to the nearest hour. Also, duplicates will be dropped from the weather dataset to avoid any unwanted rows

In [61]:
LA_collisions['datetime'] = LA_collisions['datetime'].dt.round(freq = 'H')
LA_weather.drop_duplicates(subset = ['datetime'], keep = False, inplace = True)

In [62]:
LA_data = LA_collisions.merge(LA_weather, how = 'inner', on = 'datetime')

In [63]:
LA_data.head()

,primary_road,secondary_road,intersection,side_of_highway,severity,type,pedestrian,bicycle,motorcycle,truck,...,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,wind_gust,rain_1h,rain_3h,clouds_all
0,CENTINELA AV,BEACH AV,0.0,Not Available,pain,broadside,0,0,0,0,...,20.21,32.14,1014,54,1.34,293,0.45,0.0,0.0,0
1,CRENSHAW BL,VERNON AV,0.0,Not Available,Not Available,Not Available,0,0,0,0,...,20.21,32.14,1014,54,1.34,293,0.45,0.0,0.0,0
2,MANCHESTER BLVD,11TH AV,1.0,Not Available,pain,broadside,0,0,0,0,...,19.10,31.11,1013,58,2.57,0,0.00,0.0,0.0,0
3,I-710 NORTHBOUND(LONG BEACH FREEWAY),IMPERIAL HWY,0.0,Not Available,property damage only,rear end,0,0,0,0,...,19.10,31.11,1013,58,2.57,0,0.00,0.0,0.0,0
4,JEFFERSON,2ND AV,0.0,Not Available,Not Available,Not Available,0,0,0,0,...,19.10,31.11,1013,58,2.57,0,0.00,0.0,0.0,0

In [64]:
LA_data.shape

(826202, 29)

In [65]:
LA_data.columns

Index(['primary_road', 'secondary_road', 'intersection', 'side_of_highway',
       'severity', 'type', 'pedestrian', 'bicycle', 'motorcycle', 'truck',
       'same_day_crashes', 'same_road_crashes', 'latitude', 'longitude',
       'datetime', 'dt', 'temp', 'visibility', 'dew_point', 'temp_min',
       'temp_max', 'pressure', 'humidity', 'wind_speed', 'wind_deg',
       'wind_gust', 'rain_1h', 'rain_3h', 'clouds_all'],
      dtype='object')

In [66]:
LA_data[['datetime', 'dt']].head()

             datetime          dt
0 2021-06-01 14:00:00  1622584800
1 2021-06-01 14:00:00  1622584800
2 2021-06-01 16:00:00  1622592000
3 2021-06-01 16:00:00  1622592000
4 2021-06-01 16:00:00  1622592000

In [67]:
LA_data.drop(columns = ['dt'], inplace = True)

In [68]:
LA_data.dtypes

primary_road                 object
secondary_road               object
intersection                float64
side_of_highway              object
severity                     object
type                         object
pedestrian                    int64
bicycle                       int64
motorcycle                    int64
truck                         int64
same_day_crashes              int64
same_road_crashes             int64
latitude                    float64
longitude                   float64
datetime             datetime64[ns]
temp                        float64
visibility                  float64
dew_point                   float64
temp_min                    float64
temp_max                    float64
pressure                      int64
humidity                      int64
wind_speed                  float64
wind_deg                      int64
wind_gust                   float64
rain_1h                     float64
rain_3h                     float64
clouds_all                    int64
dtype: object

After the merge, the dataset contains only a slightly fewer number of rows than the collisions dataset. This means that only a few accidents didn't have corresponding weather data, which is great.

### 8 Traffic Volume<a id='8_Traffic_Volume'>

It needs to be determined which roads we have volume data for and how that compares to the roads that we have collision data for

In [69]:
LA_traffic_counts.drop(columns = ['Dir', 'Type', 'Dist', 'Day', 'W/B', 'E/B', 'N/B', 'S/B'], inplace = True)
LA_traffic_counts.rename(columns = {'Primary Street':'primary_road', 'Cross Street':'secondary_road'}, inplace = True)

In [70]:
volume_roads = LA_traffic_counts['primary_road']
volume_roads.nunique()

1531

In [71]:
collision_roads = LA_data['primary_road']
collision_roads.nunique()

40168

Obviously, there are many more roads that have collisions on them than roads that have available traffic volume data. But, the volume data can still be useful.

How clean is the data in terms of missing values?

In [72]:
LA_traffic_counts.isna().sum()

primary_road      0
secondary_road    0
Count Date        6
Total             9
dtype: int64

In [73]:
LA_traffic_counts.dropna(inplace = True)

What are the data types?

In [74]:
LA_traffic_counts.dtypes

primary_road       object
secondary_road     object
Count Date         object
Total             float64
dtype: object

This data will be revisited in the following notebook, Exploratory Data Analysis. The data is much less 'complete' than the collision data, so some inferences will have to be made. The traffic count data that is available will be used to make assumptions about other roads.

### 9 First Look<a id='9_First_Look'>

Which 5 roads see the most accidents?

In [75]:
LA_data['primary_road'].value_counts().head(5)

RT 10     16263
RT 5      13021
RT 110    12262
RT 405    10767
RT 605     7500
Name: primary_road, dtype: int64

What was the least and most amount of crashes in a single day?

In [76]:
print(min(LA_data['same_day_crashes']))
print(max(LA_data['same_day_crashes']))

0
163

What was the weather like on those days?

In [77]:
LA_data[LA_data['same_day_crashes'] == 163]['rain_1h'].mean()

0.19472972972972974

In [78]:
LA_data[LA_data['same_day_crashes'] == 163]['visibility'].mean()

9759.256756756757

In [79]:
LA_data[LA_data['same_day_crashes'] == 0]['temp'].mean()

20.469114475590303

In [80]:
LA_data[LA_data['same_day_crashes'] == 163]['temp'].mean()

22.67945945945946

How many accidents involve something other than a car?

In [81]:
print(LA_data['pedestrian'].sum())
print(LA_data['bicycle'].sum())
print(LA_data['motorcycle'].sum())
print(LA_data['truck'].sum())

4760
3311
10507
24476

Although these numbers are only applicable to the highway accidents, it is quite surprising that the motorcycle accidents are about half the number of truck accidents, considering there are many more trucks on the road than motorcycles

### 10 Google Maps API<a id='10_Google_Maps_API'>

The google maps api will be used to get a list of possible routes for the user. The model will determine the safest route. To determine the model inputs and outputs, the google maps api response characteristics will be investigated.

In [82]:
gmaps.configure(api_key = maps_api_key)
DirMap = googlemaps.Client(key = maps_api_key)

In [83]:
LA_coords = (34.0522, -118.2437)
gmaps.figure(center = LA_coords, zoom_level = 10)

Figure(layout=FigureLayout(height='420px'))

To get directions from one location to another, the following code can be used,

In [84]:
Origin = "1111 S Figueroa St, Los Angeles, CA 90015"
Destination = "430 Normandie Pl, Los Angeles, CA 90004"

directions = DirMap.directions(Origin, Destination, mode = "driving", alternatives = True)

In [85]:
type(directions)

list

In [86]:
directions

[{'bounds': {'northeast': {'lat': 34.080595, 'lng': -118.2488468},
   'southwest': {'lat': 34.0426288, 'lng': -118.301229}},
  'copyrights': 'Map data ©2023 Google',
  'legs': [{'distance': {'text': '5.6 mi', 'value': 9056},
    'duration': {'text': '13 mins', 'value': 786},
    'end_address': '430 Normandie Pl, Los Angeles, CA 90004, USA',
    'end_location': {'lat': 34.078586, 'lng': -118.3012242},
    'start_address': '1111 S Figueroa St, Los Angeles, CA 90015, USA',
    'start_location': {'lat': 34.0426288, 'lng': -118.2662159},
    'steps': [{'distance': {'text': '492 ft', 'value': 150},
      'duration': {'text': '1 min', 'value': 22},
      'end_location': {'lat': 34.0436931, 'lng': -118.2652206},
      'html_instructions': 'Head <b>northeast</b> on <b>S Figueroa St</b> toward <b>W 11th St</b>',
      'polyline': {'points': 'm}wnEzzypUwAqAk@i@EEiAeA'},
      'start_location': {'lat': 34.0426288, 'lng': -118.2662159},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.3 mi', 'value': 469},
      'duration': {'text': '1 min', 'value': 80},
      'end_location': {'lat': 34.0450458, 'lng': -118.2699412},
      'html_instructions': 'Turn <b>left</b> onto <b>Chick Hearn Ct</b>',
      'maneuver': 'turn-left',
      'polyline': {'points': 'adxnErtypUK`@If@CLCREf@AzAAlACd@Cp@AZCPEXGXENIVM\\[x@_AjCO`@aAhC'},
      'start_location': {'lat': 34.0436931, 'lng': -118.2652206},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.3 mi', 'value': 441},
      'duration': {'text': '1 min', 'value': 43},
      'end_location': {'lat': 34.0476524, 'lng': -118.2666288},
      'html_instructions': 'Turn <b>right</b> onto the <b>CA-110 N</b> ramp',
      'maneuver': 'ramp-right',
      'polyline': {'points': 'qlxnEbrzpUMVQWEEA?]WMMIKSQOSSUQUU[A?QUEGCESWIMGKQU?AOCSc@IOi@gAe@}@[o@i@cAKSMWUc@'},
      'start_location': {'lat': 34.0450458, 'lng': -118.2699412},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.4 mi', 'value': 674},
      'duration': {'text': '1 min', 'value': 39},
      'end_location': {'lat': 34.0512269, 'lng': -118.2607221},
      'html_instructions': 'Keep <b>left</b> to continue toward <b>CA-110 N</b>',
      'maneuver': 'keep-left',
      'polyline': {'points': 'y|xnEl}ypUWg@S_@O]y@aBS_@w@yAaAmBMWWm@Qa@KUAAAAIQ]s@KSISUc@i@eAYk@S]CEACMUYg@MUYi@GMIOo@kAa@s@Yc@'},
      'start_location': {'lat': 34.0476524, 'lng': -118.2666288},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.2 mi', 'value': 394},
      'duration': {'text': '1 min', 'value': 25},
      'end_location': {'lat': 34.0537002, 'lng': -118.2576829},
      'html_instructions': 'Keep <b>left</b>, follow signs for <b>3rd St</b>/<wbr/><b>4th St</b>',
      'maneuver': 'keep-left',
      'polyline': {'points': 'esynEnxxpUYg@]k@i@}@a@o@AA?AKOSY[e@eAyAm@w@_@i@UYa@a@KIe@c@[UQM'},
      'start_location': {'lat': 34.0512269, 'lng': -118.2607221},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '318 ft', 'value': 97},
      'duration': {'text': '1 min', 'value': 6},
      'end_location': {'lat': 34.054446, 'lng': -118.2571452},
      'html_instructions': 'Keep <b>left</b> to continue toward <b>CA-110 N</b>',
      'maneuver': 'keep-left',
      'polyline': {'points': 'sbznEnexpUOIOK[SOIQMA?c@[QK'},
      'start_location': {'lat': 34.0537002, 'lng': -118.2576829},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.5 mi', 'value': 808},
      'duration': {'text': '1 min', 'value': 57},
      'end_location': {'lat': 34.0600436, 'lng': -118.2516477},
      'html_instructions': 'Keep <b>left</b> and merge onto <b>CA-110 N</b>',
      'maneuver': 'keep-left',
      'polyline': {'points': 'igznEdbxpUIEIE]UIGQK]U[SYSUQMEIAMAu@q@SQ}@{@OOWUUWGEGGSUSSw@y@[]e@e@OSQSSYEGMKOQqAsAa@c@CCWWEEQSMMMMIKKMMMEEEE]a@[a@c@k@[c@_AmA'},
      'start_location': {'lat': 34.054446, 'lng': -118.2571452},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.1 mi', 'value': 180},
      'duration': {'text': '1 min', 'value': 13},
      'end_location': {'lat': 34.0610645, 'lng': -118.2501502},
      'html_instructions': 'Take the <b>US-101 N</b>/<wbr/><b>US-101 S</b> exit toward <b>Ventura</b>/<wbr/><b>I-5 S</b>/<wbr/><b>I-10 E</b>/<wbr/><b>CA-60 E</b>',
      'maneuver': 'ramp-right',
      'polyline': {'points': 'gj{nEx_wpUEW[g@MQk@}@g@u@i@y@]k@'},
      'start_location': {'lat': 34.0600436, 'lng': -118.2516477},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '2.8 mi', 'value': 4474},
      'duration': {'text': '4 mins', 'value': 261},
      'end_location': {'lat': 34.0790986, 'lng': -118.2894676},
      'html_instructions': 'Keep <b>left</b> at the fork, follow signs for <b>US-101 N</b>/<wbr/><b>Hollywood</b> and merge onto <b>US-101 N</b>',
      'maneuver': 'fork-left',
      'polyline': {'points': 'sp{nElvvpUQKIMGIOU_@i@Wa@OSACQUUSUQIEKEKEKCKCKCEAMAy@Ei@CO?O@M?QBM@KDIBOFA@MHIFGHKJ?@EDGLILEFKVMXKTKTEJEHMXGNIFEJYh@Yh@EHu@hAOXC^o@hAMPQVEFKPOVSVGJINc@n@A@U`@UZQVEHA@W`@SZSZCDa@p@CFKPIP]n@GLi@lAGLKVKVCDKXKVCJGNIRENKXGTELEPGR?@ITIZQt@CHA@?@YhACFSz@CJYfAMd@Kd@WbA[lAMh@?@]pAAFA@WdAWbAGVSr@ADa@bBGRI^[nACH_@zA]nAEPIZGNOh@Od@GTKVe@vA_@dASn@Ob@Wt@[~@O`@AB_@fAOd@KZUn@Qf@Qh@c@pAUt@Yz@Uv@c@vAa@tASn@ELIVKXOf@MZOb@EJCDM\\CFEHABYr@GNO\\IRQ`@KZO^g@vAOd@Y~@GPUx@ELCLCFIZI^Kb@GTCJKb@G\\Mj@Mt@Kd@Kj@Kf@GXI`@G^Kd@Kl@GZIZSfAQ`AMl@Ov@?BI`@GZG\\GZEPAFQx@EXI^ERCPIb@EPG^G\\G\\G`@G\\Kt@CRIl@Kr@_@bCCVU|AKt@EZGb@ETCTCPSpAIj@Kx@U|AKt@CNAHE`@EXGn@Gh@Ed@Kx@El@E\\Gf@AFEXGb@CVIh@CTEXG^G\\GVEXEPERGTI\\Mf@W~@'},
      'start_location': {'lat': 34.0610645, 'lng': -118.2501502},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.2 mi', 'value': 274},
      'duration': {'text': '1 min', 'value': 32},
      'end_location': {'lat': 34.080595, 'lng': -118.2917227},
      'html_instructions': 'Take exit <b>6A</b> for <b>Vermont Ave</b>',
      'maneuver': 'ramp-right',
      'polyline': {'points': 'ka_oEdl~pUWDA@IPGPABCFMTELGLGNKTGNIPEHEJEJGJCFEHGHEDIJEFOLWXKHKLQPCBEDCFA@ABCFCFAHCLAX'},
      'start_location': {'lat': 34.0790986, 'lng': -118.2894676},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.1 mi', 'value': 171},
      'duration': {'text': '1 min', 'value': 36},
      'end_location': {'lat': 34.0790534, 'lng': -118.2917155},
      'html_instructions': 'Turn <b>left</b> onto <b>N Vermont Ave</b>',
      'maneuver': 'turn-left',
      'polyline': {'points': 'uj_oEfz~pUP?F@N?L?T?b@Ah@?NAv@@f@AB?b@@'},
      'start_location': {'lat': 34.080595, 'lng': -118.2917227},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.5 mi', 'value': 876},
      'duration': {'text': '3 mins', 'value': 155},
      'end_location': {'lat': 34.0790145, 'lng': -118.301229},
      'html_instructions': 'Turn <b>right</b> onto <b>Rosewood Ave</b>',
      'maneuver': 'turn-right',
      'polyline': {'points': 'aa_oEfz~pU?h@@pA@pBAT?n@?j@AtB?xC@d@?v@?lB?`D@|@?vA?R?T?xA?\\?b@?r@?|@?H?j@?R@zE?bA@vA'},
      'start_location': {'lat': 34.0790534, 'lng': -118.2917155},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '157 ft', 'value': 48},
      'duration': {'text': '1 min', 'value': 17},
      'end_location': {'lat': 34.078586, 'lng': -118.3012242},
      'html_instructions': 'Turn <b>left</b> onto <b>Normandie Pl</b><div style="font-size:0.9em">Destination will be on the left</div>',
      'maneuver': 'turn-left',
      'polyline': {'points': 'y`_oEtu`qUF?H?t@AJ?'},
      'start_location': {'lat': 34.0790145, 'lng': -118.301229},
      'travel_mode': 'DRIVING'}],
    'traffic_speed_entry': [],
    'via_waypoint': []}],
  'overview_polyline': {'points': 'm}wnEzzypUsEgE]jBEf@AzAErBElAIj@Mh@Wt@mDpJMVQWGEk@e@aAgA{@gAaAwAOCSc@s@wAwBeEeF}JoAeCi@oAYk@eDuGsCkFaE}GaCiDmAaBw@{@_BqAkAs@iAu@SKg@]eBiAc@WWCwCoC}@{@{BaCu@y@e@m@uByBcAeA}AcByBsC_AmAEW}BmDgAeB[YoAkBy@aA_@Wo@SyAMiAAm@Dg@R_@ZY`@mAhCUh@ORs@rAkAlBC^o@hA_@h@u@hAw@lAeCzDu@pAyA|CgApCw@fCeA`EkF~SiBjHmAxEg@~AqDtKgCpHiEfNs@tBg@rAyAlDsAxD}@xC_AzDyAtH_DpP{@nEaArG}D|Xu@lHo@bF]nBYtAWdAW~@WDA@Qb@Yn@c@bA[r@Yf@gBjBORK\\Ef@X@vAAxCAf@@@zB?bF?lJ@fQ@~N@vAF?~@AJ?'},
  'summary': 'US-101 N',
  'warnings': [],
  'waypoint_order': []},
 {'bounds': {'northeast': {'lat': 34.080595, 'lng': -118.2553018},
   'southwest': {'lat': 34.0426288, 'lng': -118.301229}},
  'copyrights': 'Map data ©2023 Google',
  'legs': [{'distance': {'text': '5.5 mi', 'value': 8883},
    'duration': {'text': '15 mins', 'value': 922},
    'end_address': '430 Normandie Pl, Los Angeles, CA 90004, USA',
    'end_location': {'lat': 34.078586, 'lng': -118.3012242},
    'start_address': '1111 S Figueroa St, Los Angeles, CA 90015, USA',
    'start_location': {'lat': 34.0426288, 'lng': -118.2662159},
    'steps': [{'distance': {'text': '492 ft', 'value': 150},
      'duration': {'text': '1 min', 'value': 22},
      'end_location': {'lat': 34.0436931, 'lng': -118.2652206},
      'html_instructions': 'Head <b>northeast</b> on <b>S Figueroa St</b> toward <b>W 11th St</b>',
      'polyline': {'points': 'm}wnEzzypUwAqAk@i@EEiAeA'},
      'start_location': {'lat': 34.0426288, 'lng': -118.2662159},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.3 mi', 'value': 469},
      'duration': {'text': '1 min', 'value': 80},
      'end_location': {'lat': 34.0450458, 'lng': -118.2699412},
      'html_instructions': 'Turn <b>left</b> onto <b>Chick Hearn Ct</b>',
      'maneuver': 'turn-left',
      'polyline': {'points': 'adxnErtypUK`@If@CLCREf@AzAAlACd@Cp@AZCPEXGXENIVM\\[x@_AjCO`@aAhC'},
      'start_location': {'lat': 34.0436931, 'lng': -118.2652206},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.3 mi', 'value': 441},
      'duration': {'text': '1 min', 'value': 43},
      'end_location': {'lat': 34.0476524, 'lng': -118.2666288},
      'html_instructions': 'Turn <b>right</b> onto the <b>CA-110 N</b> ramp',
      'maneuver': 'ramp-right',
      'polyline': {'points': 'qlxnEbrzpUMVQWEEA?]WMMIKSQOSSUQUU[A?QUEGCESWIMGKQU?AOCSc@IOi@gAe@}@[o@i@cAKSMWUc@'},
      'start_location': {'lat': 34.0450458, 'lng': -118.2699412},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.4 mi', 'value': 674},
      'duration': {'text': '1 min', 'value': 39},
      'end_location': {'lat': 34.0512269, 'lng': -118.2607221},
      'html_instructions': 'Keep <b>left</b> to continue toward <b>W 3rd St</b>/<wbr/><b>Miramar St</b>',
      'maneuver': 'keep-left',
      'polyline': {'points': 'y|xnEl}ypUWg@S_@O]y@aBS_@w@yAaAmBMWWm@Qa@KUAAAAIQ]s@KSISUc@i@eAYk@S]CEACMUYg@MUYi@GMIOo@kAa@s@Yc@'},
      'start_location': {'lat': 34.0476524, 'lng': -118.2666288},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.2 mi', 'value': 394},
      'duration': {'text': '1 min', 'value': 25},
      'end_location': {'lat': 34.0537002, 'lng': -118.2576829},
      'html_instructions': 'Keep <b>left</b>, follow signs for <b>3rd St</b>/<wbr/><b>4th St</b>',
      'maneuver': 'keep-left',
      'polyline': {'points': 'esynEnxxpUYg@]k@i@}@a@o@AA?AKOSY[e@eAyAm@w@_@i@UYa@a@KIe@c@[UQM'},
      'start_location': {'lat': 34.0512269, 'lng': -118.2607221},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '318 ft', 'value': 97},
      'duration': {'text': '1 min', 'value': 6},
      'end_location': {'lat': 34.054446, 'lng': -118.2571452},
      'html_instructions': 'Keep <b>left</b> to continue toward <b>W 3rd St</b>/<wbr/><b>Miramar St</b>',
      'maneuver': 'keep-left',
      'polyline': {'points': 'sbznEnexpUOIOK[SOIQMA?c@[QK'},
      'start_location': {'lat': 34.0537002, 'lng': -118.2576829},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '322 ft', 'value': 98},
      'duration': {'text': '1 min', 'value': 7},
      'end_location': {'lat': 34.0551229, 'lng': -118.2564677},
      'html_instructions': 'Keep <b>right</b> to continue on <b>Exit 23C</b>',
      'maneuver': 'keep-right',
      'polyline': {'points': 'igznEdbxpUEIYUQOIIGGGGGGQOOQOS'},
      'start_location': {'lat': 34.054446, 'lng': -118.2571452},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.1 mi', 'value': 203},
      'duration': {'text': '1 min', 'value': 27},
      'end_location': {'lat': 34.0565371, 'lng': -118.2566356},
      'html_instructions': 'Keep <b>left</b> at the fork and merge onto <b>W 3rd St</b>/<wbr/><b>Miramar St</b>',
      'maneuver': 'fork-left',
      'polyline': {'points': 'okznE|}wpUIEECGGGGQQGGACOMGIMKAAIGCCCAC?CACAA?C?C?C?C?A?C@E@C?C@A@A@GFA@CBCBA@A@C?A@C?G?OXINCBMT?@EDUb@'},
      'start_location': {'lat': 34.0551229, 'lng': -118.2564677},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.1 mi', 'value': 201},
      'duration': {'text': '1 min', 'value': 31},
      'end_location': {'lat': 34.0579642, 'lng': -118.2553018},
      'html_instructions': 'Turn <b>right</b> onto <b>S Beaudry Ave</b>',
      'maneuver': 'turn-right',
      'polyline': {'points': 'ktznE~~wpUMM}CsCe@c@a@_@][II'},
      'start_location': {'lat': 34.0565371, 'lng': -118.2566356},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.4 mi', 'value': 603},
      'duration': {'text': '2 mins', 'value': 90},
      'end_location': {'lat': 34.0619453, 'lng': -118.2596136},
      'html_instructions': 'Turn <b>left</b> onto <b>W 2nd St</b>',
      'maneuver': 'turn-left',
      'polyline': {'points': 'g}znErvwpUs@nAGJGJKRqA|BY^WZMLEDsAlAYVMJy@t@w@r@c@b@i@f@g@b@]`@_@b@GFQAA?A?a@Zw@t@GLEHEFGH'},
      'start_location': {'lat': 34.0579642, 'lng': -118.2553018},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.6 mi', 'value': 980},
      'duration': {'text': '2 mins', 'value': 133},
      'end_location': {'lat': 34.07061600000001, 'lng': -118.2614499},
      'html_instructions': '<b>W 2nd St</b> turns <b>right</b> and becomes <b>Glendale Blvd</b>',
      'polyline': {'points': 'ev{nEpqxpUm@LM@O@G@G@G?E@mBJe@B[BmBNe@Bs@H_ALiBXq@J_@FUBw@Lg@Hk@JmBXy@J_@Fa@F_@Fa@Fi@JWBWDa@H[DYF_@FWDc@Fg@H]DQBgAPOBSDG@M@M@E?I@I?I?'},
      'start_location': {'lat': 34.0619453, 'lng': -118.2596136},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.1 mi', 'value': 190},
      'duration': {'text': '1 min', 'value': 37},
      'end_location': {'lat': 34.0698311, 'lng': -118.2596234},
      'html_instructions': 'Turn <b>right</b> onto <b>Bellevue Ave</b>',
      'maneuver': 'turn-right',
      'polyline': {'points': 'kl}nE`}xpUDSBMRo@f@wANe@@?Ne@\\cAVs@'},
      'start_location': {'lat': 34.07061600000001, 'lng': -118.2614499},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '1.9 mi', 'value': 3014},
      'duration': {'text': '2 mins', 'value': 142},
      'end_location': {'lat': 34.0790986, 'lng': -118.2894676},
      'html_instructions': 'Turn <b>right</b> to merge onto <b>US-101 N</b>',
      'maneuver': 'ramp-right',
      'polyline': {'points': 'mg}nErqxpUf@GD?D?B?B?B@@@@?@@@@BB@B@B@D@@?B@D?JAFCHCP?@D^WbAGVSr@ADa@bBGRI^[nACH_@zA]nAEPIZGNOh@Od@GTKVe@vA_@dASn@Ob@Wt@[~@O`@AB_@fAOd@KZUn@Qf@Qh@c@pAUt@Yz@Uv@c@vAa@tASn@ELIVKXOf@MZOb@EJCDM\\CFEHABYr@GNO\\IRQ`@KZO^g@vAOd@Y~@GPUx@ELCLCFIZI^Kb@GTCJKb@G\\Mj@Mt@Kd@Kj@Kf@GXI`@G^Kd@Kl@GZIZSfAQ`AMl@Ov@?BI`@GZG\\GZEPAFQx@EXI^ERCPIb@EPG^G\\G\\G`@G\\Kt@CRIl@Kr@_@bCCVU|AKt@EZGb@ETCTCPSpAIj@Kx@U|AKt@CNAHE`@EXGn@Gh@Ed@Kx@El@E\\Gf@AFEXGb@CVIh@CTEXG^G\\GVEXEPERGTI\\Mf@W~@'},
      'start_location': {'lat': 34.0698311, 'lng': -118.2596234},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.2 mi', 'value': 274},
      'duration': {'text': '1 min', 'value': 32},
      'end_location': {'lat': 34.080595, 'lng': -118.2917227},
      'html_instructions': 'Take exit <b>6A</b> for <b>Vermont Ave</b>',
      'maneuver': 'ramp-right',
      'polyline': {'points': 'ka_oEdl~pUWDA@IPGPABCFMTELGLGNKTGNIPEHEJEJGJCFEHGHEDIJEFOLWXKHKLQPCBEDCFA@ABCFCFAHCLAX'},
      'start_location': {'lat': 34.0790986, 'lng': -118.2894676},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.1 mi', 'value': 171},
      'duration': {'text': '1 min', 'value': 36},
      'end_location': {'lat': 34.0790534, 'lng': -118.2917155},
      'html_instructions': 'Turn <b>left</b> onto <b>N Vermont Ave</b>',
      'maneuver': 'turn-left',
      'polyline': {'points': 'uj_oEfz~pUP?F@N?L?T?b@Ah@?NAv@@f@AB?b@@'},
      'start_location': {'lat': 34.080595, 'lng': -118.2917227},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.5 mi', 'value': 876},
      'duration': {'text': '3 mins', 'value': 155},
      'end_location': {'lat': 34.0790145, 'lng': -118.301229},
      'html_instructions': 'Turn <b>right</b> onto <b>Rosewood Ave</b>',
      'maneuver': 'turn-right',
      'polyline': {'points': 'aa_oEfz~pU?h@@pA@pBAT?n@?j@AtB?xC@d@?v@?lB?`D@|@?vA?R?T?xA?\\?b@?r@?|@?H?j@?R@zE?bA@vA'},
      'start_location': {'lat': 34.0790534, 'lng': -118.2917155},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '157 ft', 'value': 48},
      'duration': {'text': '1 min', 'value': 17},
      'end_location': {'lat': 34.078586, 'lng': -118.3012242},
      'html_instructions': 'Turn <b>left</b> onto <b>Normandie Pl</b><div style="font-size:0.9em">Destination will be on the left</div>',
      'maneuver': 'turn-left',
      'polyline': {'points': 'y`_oEtu`qUF?H?t@AJ?'},
      'start_location': {'lat': 34.0790145, 'lng': -118.301229},
      'travel_mode': 'DRIVING'}],
    'traffic_speed_entry': [],
    'via_waypoint': []}],
  'overview_polyline': {'points': 'm}wnEzzypUsEgE]jBEf@AzAErBElAIj@Mh@Wt@mDpJMVQWGEk@e@aAgA{@gAaAwAOCSc@s@wAwBeEeF}JoAeCi@oAYk@eDuGsCkFaE}GaCiDmAaBw@{@_BqAkAs@iAu@{@y@i@g@_@e@OIi@i@g@g@SOMC[B]VIDK?Yh@W`@Ub@MMcEwD_A{@IIs@nAOV}ApCeAnAuDfDmDbD}@dAGFQAC?yApA[h@sARcCNuEZsBV{Cd@uCb@sFx@{F|@uGbAy@Lg@BI?DSV}@hAcDt@wBl@GP@FDHPBVIb@D`@_@zA_ApDwBrIaCjHyC|IeA|CiBzFsC`JmA|Cs@bBsAxD}@xC[pAc@hBo@dDqA~G_BlIy@fEy@xEmDtVgArIu@~GYzB]nBYtAWdAW~@WDA@Qb@Yn@_AvBYf@e@f@qAvAK\\Ef@X@vAAxCAf@@@zB?bF@rW?`I@~I@vAF?~@AJ?'},
  'summary': 'Glendale Blvd and US-101 N',
  'warnings': [],
  'waypoint_order': []},
 {'bounds': {'northeast': {'lat': 34.080595, 'lng': -118.2439005},
   'southwest': {'lat': 34.0426288, 'lng': -118.301229}},
  'copyrights': 'Map data ©2023 Google',
  'legs': [{'distance': {'text': '5.9 mi', 'value': 9443},
    'duration': {'text': '18 mins', 'value': 1080},
    'end_address': '430 Normandie Pl, Los Angeles, CA 90004, USA',
    'end_location': {'lat': 34.078586, 'lng': -118.3012242},
    'start_address': '1111 S Figueroa St, Los Angeles, CA 90015, USA',
    'start_location': {'lat': 34.0426288, 'lng': -118.2662159},
    'steps': [{'distance': {'text': '1.8 mi', 'value': 2914},
      'duration': {'text': '8 mins', 'value': 485},
      'end_location': {'lat': 34.0626595, 'lng': -118.2462958},
      'html_instructions': 'Head <b>northeast</b> on <b>S Figueroa St</b> toward <b>W 11th St</b>',
      'polyline': {'points': 'm}wnEzzypUwAqAk@i@EEiAeAy@u@MM][QSGCWYq@o@y@y@_@[i@e@YWo@k@w@q@m@i@q@m@m@m@UU}AwAGGKGGCCCCCCCAG}@w@YSc@a@w@s@YWCCWUi@g@a@]q@k@QSSQo@i@c@c@]YwAuA{@w@EEGEw@u@gAeAwCqCk@g@yAoAwBoBYWAAY[q@o@{@w@kAeAu@s@USSS{AwAII[UWWSSGGuAmAg@m@_@]SQWQWWa@]OQYUOQ_@]QQo@q@YYGIU_@KQACGOSc@Se@ACSe@e@iAACc@gAGMM_@Qe@Oa@K_@Qe@KYEKWk@S_@EGEIIMMQY]SUAAIIGE]SCAQIECc@Ug@WUMSIo@[_@Sm@Y_@Qq@]KECAEEIEEE'},
      'start_location': {'lat': 34.0426288, 'lng': -118.2662159},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '0.2 mi', 'value': 317},
      'duration': {'text': '1 min', 'value': 49},
      'end_location': {'lat': 34.0606162, 'lng': -118.2439005},
      'html_instructions': 'Turn <b>right</b> onto <b>W Cesar Estrada Chavez Ave</b>',
      'maneuver': 'turn-right',
      'polyline': {'points': 'sz{nEj~upUt@}@RYJKNSx@eAl@s@X]b@i@LSp@{@X[\\c@RU'},
      'start_location': {'lat': 34.0626595, 'lng': -118.2462958},
      'travel_mode': 'DRIVING'},
     {'distance': {'text': '322 ft', 'value': 98},
      'duration': {'text': '1 min', 'value': 21},
      'end_location': {'lat': 34.05996349999999, 'lng': -118.2446098},
      'html_instructions': 'Turn <b>right</b> onto <b>N Grand Ave</b>',
      'maneuver': 'turn-right',
      'polyline': {'points': '{m{nEjoupUTXLNVVPRPPb@d@'},

The different routes are stored as dictionaries in a list. The steps can be found in directions[0]['legs'][0]['steps'] where n is the index of the route being investigated. The steps dictionary contains the start and end latitude and longitude as well as text stating the road being travelled on.

In [87]:
len(directions)

3

The API returned two routes. What are the roads beings travelled on in the first route?

In [88]:
roads = [0] * len(directions[0]['legs'][0]['steps'])
for i in range(len(directions[0]['legs'][0]['steps'])):
    roads[i] = directions[0]['legs'][0]['steps'][i]['html_instructions']
roads

['Head <b>northeast</b> on <b>S Figueroa St</b> toward <b>W 11th St</b>',
 'Turn <b>left</b> onto <b>Chick Hearn Ct</b>',
 'Turn <b>right</b> onto the <b>CA-110 N</b> ramp',
 'Keep <b>left</b> to continue toward <b>CA-110 N</b>',
 'Keep <b>left</b>, follow signs for <b>3rd St</b>/<wbr/><b>4th St</b>',
 'Keep <b>left</b> to continue toward <b>CA-110 N</b>',
 'Keep <b>left</b> and merge onto <b>CA-110 N</b>',
 'Take the <b>US-101 N</b>/<wbr/><b>US-101 S</b> exit toward <b>Ventura</b>/<wbr/><b>I-5 S</b>/<wbr/><b>I-10 E</b>/<wbr/><b>CA-60 E</b>',
 'Keep <b>left</b> at the fork, follow signs for <b>US-101 N</b>/<wbr/><b>Hollywood</b> and merge onto <b>US-101 N</b>',
 'Take exit <b>6A</b> for <b>Vermont Ave</b>',
 'Turn <b>left</b> onto <b>N Vermont Ave</b>',
 'Turn <b>right</b> onto <b>Rosewood Ave</b>',
 'Turn <b>left</b> onto <b>Normandie Pl</b><div style="font-size:0.9em">Destination will be on the left</div>']

The text above contains the roads that are being travelled on in this route. More will be done with this later, during feature engineering. But this is a good starting point for deciding what our explanatory features and target feature should look like.

### 11 OpenWeather API<a id='11_OpenWeather_API'>

The OpenWeather api will be used to get weather factors along the different routes supplied by the maps api. This information will also feed into the model, so it's characteristics must also be determined. It should be quite similar to the historic information that makes up the LA_weather dataframe. The possible file formats are json, html, and xml. Json will be used for the purpose of this project.

The current weather for a location in LA can be found as follows:

In [89]:
lat = LA_coords[0]
lon = LA_coords[1]
API_key = openWeather_api_key

LA_weather_response = requests.get(
    f'https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude=minutely,hourly,monthly,alerts&appid={API_key}')

In [90]:
LA_weather_response.json()

{'lat': 34.0522,
 'lon': -118.2437,
 'timezone': 'America/Los_Angeles',
 'timezone_offset': -25200,
 'current': {'dt': 1678830085,
  'sunrise': 1678802705,
  'sunset': 1678845567,
  'temp': 287.57,
  'feels_like': 287.5,
  'pressure': 1020,
  'humidity': 93,
  'dew_point': 286.45,
  'uvi': 0.23,
  'clouds': 100,
  'visibility': 8047,
  'wind_speed': 7.72,
  'wind_deg': 120,
  'wind_gust': 9.26,
  'weather': [{'id': 701,
    'main': 'Mist',
    'description': 'mist',
    'icon': '50d'}]},
 'daily': [{'dt': 1678824000,
   'sunrise': 1678802705,
   'sunset': 1678845567,
   'moonrise': 1678782780,
   'moonset': 1678817880,
   'moon_phase': 0.75,
   'temp': {'day': 287.28,
    'min': 286.82,
    'max': 288.41,
    'night': 286.95,
    'eve': 286.98,
    'morn': 286.82},
   'feels_like': {'day': 287.18,
    'night': 286.94,
    'eve': 286.9,
    'morn': 286.51},
   'pressure': 1019,
   'humidity': 93,
   'dew_point': 286.17,
   'wind_speed': 5.21,
   'wind_deg': 130,
   'wind_gust': 9.21,
   'weather': [{'id': 502,
     'main': 'Rain',
     'description': 'heavy intensity rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 1,
   'rain': 32.36,
   'uvi': 0.92},
  {'dt': 1678910400,
   'sunrise': 1678889023,
   'sunset': 1678932014,
   'moonrise': 1678873140,
   'moonset': 1678907700,
   'moon_phase': 0.78,
   'temp': {'day': 289.3,
    'min': 285.73,
    'max': 289.94,
    'night': 285.73,
    'eve': 286.94,
    'morn': 287.31},
   'feels_like': {'day': 289.03,
    'night': 285.05,
    'eve': 286.2,
    'morn': 287.31},
   'pressure': 1014,
   'humidity': 79,
   'dew_point': 285.05,
   'wind_speed': 4.15,
   'wind_deg': 226,
   'wind_gust': 5.84,
   'weather': [{'id': 502,
     'main': 'Rain',
     'description': 'heavy intensity rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 1,
   'rain': 22.46,
   'uvi': 4.79},
  {'dt': 1678996800,
   'sunrise': 1678975341,
   'sunset': 1679018460,
   'moonrise': 1678963260,
   'moonset': 1678998060,
   'moon_phase': 0.81,
   'temp': {'day': 290.35,
    'min': 284,
    'max': 291.3,
    'night': 286.4,
    'eve': 289.09,
    'morn': 284},
   'feels_like': {'day': 289.33,
    'night': 285.56,
    'eve': 288.18,
    'morn': 283.18},
   'pressure': 1016,
   'humidity': 46,
   'dew_point': 278.21,
   'wind_speed': 5.02,
   'wind_deg': 217,
   'wind_gust': 4.03,
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': 18,
   'pop': 0,
   'uvi': 7.13},
  {'dt': 1679083200,
   'sunrise': 1679061659,
   'sunset': 1679104906,
   'moonrise': 1679052960,
   'moonset': 1679088780,
   'moon_phase': 0.85,
   'temp': {'day': 291.38,
    'min': 284.49,
    'max': 292.95,
    'night': 287.59,
    'eve': 288.65,
    'morn': 284.49},
   'feels_like': {'day': 290.54, 'night': 286.94, 'eve': 287.9, 'morn': 283.9},
   'pressure': 1016,
   'humidity': 49,
   'dew_point': 280.14,
   'wind_speed': 4.2,
   'wind_deg': 237,
   'wind_gust': 3.26,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 96,
   'pop': 0,
   'uvi': 7.43},
  {'dt': 1679169600,
   'sunrise': 1679147977,
   'sunset': 1679191352,
   'moonrise': 1679142180,
   'moonset': 1679179620,
   'moon_phase': 0.89,
   'temp': {'day': 292.63,
    'min': 285.48,
    'max': 292.77,
    'night': 287.45,
    'eve': 288.86,
    'morn': 285.48},
   'feels_like': {'day': 291.65,
    'night': 286.61,
    'eve': 287.92,
    'morn': 284.88},
   'pressure': 1013,
   'humidity': 39,
   'dew_point': 278.01,
   'wind_speed': 4.87,
   'wind_deg': 236,
   'wind_gust': 3.99,
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': 38,
   'pop': 0,
   'uvi': 7.06},
  {'dt': 1679256000,
   'sunrise': 1679234294,
   'sunset': 1679277798,
   'moonrise': 1679230920,
   'moonset': 1679270460,
   'moon_phase': 0.93,
   'temp': {'day': 293.87,
    'min': 285.96,
    'max': 293.87,
    'night': 288.45,
    'eve': 289.35,
    'morn': 286.19},
   'feels_like': {'day': 292.99,
    'night': 287.65,
    'eve': 288.54,
    'morn': 285.38},
   'pressure': 1014,
   'humidity': 38,
   'dew_point': 278.75,
   'wind_speed': 4.14,
   'wind_deg': 221,
   'wind_gust': 4.14,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 6,
   'pop': 0,
   'uvi': 8},
  {'dt': 1679342400,
   'sunrise': 1679320612,
   'sunset': 1679364244,
   'moonrise': 1679319360,
   'moonset': 1679361180,
   'moon_phase': 0.96,
   'temp': {'day': 292.33,
    'min': 286.32,
    'max': 292.33,
    'night': 286.32,
    'eve': 288.09,
    'morn': 286.65},
   'feels_like': {'day': 291.56,
    'night': 285.62,
    'eve': 287.6,
    'morn': 285.91},
   'pressure': 1017,
   'humidity': 48,
   'dew_point': 280.74,
   'wind_speed': 3.36,
   'wind_deg': 216,
   'wind_gust': 3.66,
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.79,
   'rain': 1.15,
   'uvi': 8},
  {'dt': 1679428800,
   'sunrise': 1679406929,
   'sunset': 1679450689,
   'moonrise': 1679407680,
   'moonset': 1679451780,
   'moon_phase': 0,
   'temp': {'day': 287.43,
    'min': 285.56,
    'max': 288.14,
    'night': 287.34,
    'eve': 287.53,
    'morn': 285.7},
   'feels_like': {'day': 286.95,
    'night': 286.98,
    'eve': 287.14,
    'morn': 285.2},
   'pressure': 1017,
   'humidity': 78,
   'dew_point': 283.05,
   'wind_speed': 5.37,
   'wind_deg': 129,
   'wind_gust': 8.48,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 100,
   'pop': 0.76,
   'rain': 2.15,
   'uvi': 8}]}

Knowing what these API resonses look like will make it much easier at the time of feature engineering to make informed decisions about how the data and model should be structured.

### 12 Save Data<a id='12_Save_Data'>

In [92]:
datapath = '../Data'
save_file(LA_data, 'LA_data.csv', datapath)
save_file(LA_collisions, 'LA_collisions.csv', datapath)
save_file(LA_highway_collisions, 'LA_highway_collisions_cleaned.csv', datapath)
save_file(LA_nonhighway_collisions, 'LA_nonhighway_collisions_cleaned.csv', datapath)
save_file(LA_traffic_counts, 'LA_traffic_counts.csv', datapath)
save_file(LA_weather, 'LA_weather_cleaned.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)y
Writing file.  "../Data\LA_data.csv"
Writing file.  "../Data\LA_collisions.csv"
A file already exists with this name.

Do you want to overwrite? (Y/N)y
Writing file.  "../Data\LA_highway_collisions_cleaned.csv"
A file already exists with this name.

Do you want to overwrite? (Y/N)y\
Writing file.  "../Data\LA_nonhighway_collisions_cleaned.csv"
A file already exists with this name.

Do you want to overwrite? (Y/N)y
Writing file.  "../Data\LA_traffic_counts.csv"
A file already exists with this name.

Do you want to overwrite? (Y/N)y
Writing file.  "../Data\LA_weather_cleaned.csv"

### 13 Conclusion<a id='13_Conclusion'>

The data is now cleaned of all null values. The collision data, both highway and nonhighway, has been merged with the weather data, which will allow the model to take weather and time data into the risk calculations. 

The google maps api returns a number of routes when requested with a start and end location. The API can take addresses or a latitudes and longitudes for the endpoints, as well as returning street names and latitudes and longitudes. The street names/cooordinates are easily accessible through the returned list.

The weather api is almost the same as the bulk weather data from earlier in this notebook, differing in that the api response has a lot of unnecessary data. The useful data is luckily stored near the front (temp, humidity, visibility, etc...).